<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="form__container">
            <h1 class="form__header">Wgraj plik</h1>
            <form class="form" action="/upload" enctype="multipart/form-data" method="post">
                <label>Tytuł pliku</label>
                <input class="form__input" type="text" name="form__input">
                <br>
                <label>Plik</label>
                <input type="file" class='upload' name="upload" multiple="multiple"><br>
                <input type="submit" value="Wyślij">
            </form>
        </div>
    </body>
    <script src="script.js"></script>
</html>